

.des p{
	padding-left: 10px!important;
}

.bg-color-own{
	background-color: #414d69; 
	
}

.h0{height: 0px!important;}
.h1{height: 1px!important;}
.h2{height: 2px!important;}
.h3{height: 3px!important;}
.h4{height: 4px!important;}
.h5{height: 5px!important;}
.h6{height: 6px!important;}
.h7{height: 7px!important;}
.h8{height: 8px!important;}
.h9{height: 9px!important;}
.h10{height: 10px!important;}
.h11{height: 11px!important;}
.h12{height: 12px!important;}
.h13{height: 13px!important;}
.h14{height: 14px!important;}
.h15{height: 15px!important;}
.h16{height: 16px!important;}
.h17{height: 17px!important;}
.h18{height: 18px!important;}
.h19{height: 19px!important;}
.h20{height: 20px!important;}
.h21{height: 21px!important;}
.h22{height: 22px!important;}
.h23{height: 23px!important;}
.h24{height: 24px!important;}
.h25{height: 25px!important;}
.h26{height: 26px!important;}
.h27{height: 27px!important;}
.h28{height: 28px!important;}
.h29{height: 29px!important;}
.h30{height: 30px!important;}
.h31{height: 31px!important;}
.h32{height: 32px!important;}
.h33{height: 33px!important;}
.h34{height: 34px!important;}
.h35{height: 35px!important;}
.h36{height: 36px!important;}
.h37{height: 37px!important;}
.h38{height: 38px!important;}
.h39{height: 39px!important;}
.h40{height: 40px!important;}
.h41{height: 41px!important;}
.h42{height: 42px!important;}
.h43{height: 43px!important;}
.h44{height: 44px!important;}
.h45{height: 45px!important;}
.h46{height: 46px!important;}
.h47{height: 47px!important;}
.h48{height: 48px!important;}
.h49{height: 49px!important;}
.h50{height: 50px!important;}
.h51{height: 51px!important;}
.h52{height: 52px!important;}
.h53{height: 53px!important;}
.h54{height: 54px!important;}
.h55{height: 55px!important;}
.h56{height: 56px!important;}
.h57{height: 57px!important;}
.h58{height: 58px!important;}
.h59{height: 59px!important;}
.h60{height: 60px!important;}
.h61{height: 61px!important;}
.h62{height: 62px!important;}
.h63{height: 63px!important;}
.h64{height: 64px!important;}
.h65{height: 65px!important;}
.h66{height: 66px!important;}
.h67{height: 67px!important;}
.h68{height: 68px!important;}
.h69{height: 69px!important;}
.h70{height: 70px!important;}
.h71{height: 71px!important;}
.h72{height: 72px!important;}
.h73{height: 73px!important;}
.h74{height: 74px!important;}
.h75{height: 75px!important;}
.h76{height: 76px!important;}
.h77{height: 77px!important;}
.h78{height: 78px!important;}
.h79{height: 79px!important;}
.h80{height: 80px!important;}
.h81{height: 81px!important;}
.h82{height: 82px!important;}
.h83{height: 83px!important;}
.h84{height: 84px!important;}
.h85{height: 85px!important;}
.h86{height: 86px!important;}
.h87{height: 87px!important;}
.h88{height: 88px!important;}
.h89{height: 89px!important;}
.h90{height: 90px!important;}
.h91{height: 91px!important;}
.h92{height: 92px!important;}
.h93{height: 93px!important;}
.h94{height: 94px!important;}
.h95{height: 95px!important;}
.h96{height: 96px!important;}
.h97{height: 97px!important;}
.h98{height: 98px!important;}
.h99{height: 99px!important;}
.h100{height: 100px!important;}



.h110{height: 110px!important;}
.h120{height: 120px!important;}
.h130{height: 130px!important;}
.h140{height: 140px!important;}
.h150{height: 150px!important;}
.h160{height: 160px!important;}
.h170{height: 170px!important;}
.h180{height: 180px!important;}
.h190{height: 190px!important;}
.h200{height: 200px!important;}
.h210{height: 210px!important;}
.h220{height: 220px!important;}
.h230{height: 230px!important;}
.h240{height: 240px!important;}
.h250{height: 250px!important;}
.h260{height: 260px!important;}
.h270{height: 270px!important;}
.h280{height: 280px!important;}
.h290{height: 290px!important;}
.h300{height: 300px!important;}
.h310{height: 310px!important;}
.h320{height: 320px!important;}
.h330{height: 330px!important;}
.h340{height: 340px!important;}
.h350{height: 350px!important;}
.h360{height: 360px!important;}
.h370{height: 370px!important;}
.h380{height: 380px!important;}
.h390{height: 390px!important;}
.h400{height: 400px!important;}
.h410{height: 410px!important;}
.h420{height: 420px!important;}
.h430{height: 430px!important;}
.h440{height: 440px!important;}
.h450{height: 450px!important;}
.h460{height: 460px!important;}
.h470{height: 470px!important;}
.h480{height: 480px!important;}
.h490{height: 490px!important;}
.h500{height: 500px!important;}
.h510{height: 510px!important;}
.h520{height: 520px!important;}
.h530{height: 530px!important;}
.h540{height: 540px!important;}
.h550{height: 550px!important;}
.h560{height: 560px!important;}
.h570{height: 570px!important;}
.h580{height: 580px!important;}
.h590{height: 590px!important;}
.h600{height: 600px!important;}
.h610{height: 610px!important;}
.h620{height: 620px!important;}
.h630{height: 630px!important;}
.h640{height: 640px!important;}
.h650{height: 650px!important;}
.h660{height: 660px!important;}
.h670{height: 670px!important;}
.h680{height: 680px!important;}
.h690{height: 690px!important;}
.h700{height: 700px!important;}
.h710{height: 710px!important;}
.h720{height: 720px!important;}
.h730{height: 730px!important;}
.h740{height: 740px!important;}
.h750{height: 750px!important;}
.h760{height: 760px!important;}
.h770{height: 770px!important;}
.h780{height: 780px!important;}
.h790{height: 790px!important;}
.h800{height: 800px!important;}
.h810{height: 810px!important;}
.h820{height: 820px!important;}
.h830{height: 830px!important;}
.h840{height: 840px!important;}
.h850{height: 850px!important;}
.h860{height: 860px!important;}
.h870{height: 870px!important;}
.h880{height: 880px!important;}
.h890{height: 890px!important;}
.h900{height: 900px!important;}
.h910{height: 910px!important;}
.h920{height: 920px!important;}
.h930{height: 930px!important;}
.h940{height: 940px!important;}
.h950{height: 950px!important;}
.h960{height: 960px!important;}
.h970{height: 970px!important;}
.h980{height: 980px!important;}
.h990{height: 990px!important;}
.h1000{height: 1000px!important;}
.h1010{height: 1010px!important;}
.h1020{height: 1020px!important;}
.h1030{height: 1030px!important;}
.h1040{height: 1040px!important;}
.h1050{height: 1050px!important;}
.h1060{height: 1060px!important;}
.h1070{height: 1070px!important;}
.h1080{height: 1080px!important;}
.h1090{height: 1090px!important;}
.h1100{height: 1100px!important;}
